{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url("css/topic_tweets.css") }}">
<script src="{{ static_url("js/topic_tweets.js") }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container-fluid">
<div class="row-fluid">
    <!-- navigator -->
    <div class="span2">
        <!-- sorted by count -->
        <div id="navigator">
        <div class="row-fluid">
            <nav title="ordered by count">
                <h1>ordered by count</h1>
                <ul id="most-post-topics" class="topics"></ul>
            </nav>
        </div>
        <div class="row-fluid">
            <nav title="ordered by update time">
                <h1>ordered by update time</h1>
                <ul id="last-update-topics" class="topics"></ul>
            </nav>
        </div>
        </div>
    </div>
    <!-- tweets -->
    <div class="span10">
        <div id="container">
            <article id="tweets">
                <p>{{ articles }}</p>
            </article>
        </div>
    </div>
</div>
</div>

{% endblock %}
