@charset "UTF-8";

 /* for every device */

 /* imported Css
 ------------------------------------*/
article, aside, figcaption,
figure, footer, header,
hgroup, menu, nav, section {
    display: block;
}

.clearfix:before, .clear:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* for print
------------------------------------*/
@media print {
    img {
        display: none;
    }

    p {
        color: black;
    }
}



/* my css
------------------------------------*/
